*{
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    height: 100vh;
    grid-template-areas: 
        "header"
        "content"
        "footer"
    ;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    padding: 10px;
}

.header{
    grid-area: header;
}

.content{
    grid-area: content;
}

.footer{
    grid-area: footer;
}